
.text-color{
  color: #651c32;
}

body {
  background-color: #651c32;
  color: #ef6079;
}

.title {
  font-size: 34px;
}
#saved {
  color: #651c32;
  font-size: 16px;
}

.nav-bar {
  background-color: #ef6079;
  color: #651c32; 
}

.card {
  color: black
}

.everything-container {
  background-color: #f6edee;
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

.button {
  display: inline;
  justify-content: flex-end;
  margin-left: 1160px;
  margin-bottom: 10px;
  background-color: #ef6079;
  color: #651c32;
  font-size: 16px;
  border-radius: 12px;
}

.view {
  margin-bottom: 5px;
  padding-left: 40px;
  color: #ef6079;
  font-size: 16px;
}

h5{
  padding-left: 20px;
  padding-right: 20px;
}

p {
  padding-left: 40px;
  padding-right: 40px;
}
